/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-student-main-ui > header {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-student-main-ui > header > section {
  margin-right: 30px;
}

.wm-student-main-ui > header > div {
  font-size: 20px;
  margin-left: 40px;
  position: relative;
}

.wm-student-main-ui > header > div:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #cc0000;
  top: 15px;
  left: -10px;
}

.ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
  left: 30px;
}

.wm-news-form-item {
  width: 100%;
}

.wm-news-form-item .ivu-form-item-content {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-news-form-item .ivu-form-item-content .wm-news-encryptfile-name {
  position: relative;
}

.wm-news-form-item .ivu-form-item-content .wm-news-encryptfile-name .wm-news-encrypting {
  margin-left: 130px;
  position: absolute;
  width: 300px;
  top: 0;
  color: #be0000;
  font-weight: bold;
}

.wm-news-form-item .ivu-form-item-content .wm-news-encryptfile-name .wm-news-encrypting i {
  font-size: 28px;
  color: #be0000;
}

.wm-table-loading {
  color: red;
  font-size: 16px;
}

.wm-table-loading span {
  font-size: 30px;
  -webkit-animation: flash 0.8s infinite alternate;
  animation: flash 0.8s infinite alternate;
}

.wm-table-loading span:nth-of-type(2) {
  -webkit-animation: flash 0.8s 0.5s infinite alternate;
  animation: flash 0.8s 0.5s infinite alternate;
}

.wm-table-loading span:nth-of-type(3) {
  -webkit-animation: flash 0.8s 1s infinite alternate;
  animation: flash 0.8s 1s infinite alternate;
}

@-webkit-keyframes flash {
  to {
    opacity: 0;
  }
}

@keyframes flash {
  to {
    opacity: 0;
  }
}

.wm-news-encryptfile {
  width: 300px;
  position: relative;
}

.wm-news-encryptfile .news-encryptfile {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.wm-news-encryptfile .news-encryptfile > div {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.wm-news-encryptfile .wm-news-encryptfile-progressbar {
  border: 1px solid #fab82e;
  display: block;
  height: 25px;
  line-height: 25px;
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  text-align: center;
}

.wm-news-encryptfile .wm-news-encryptfile-progressbar label {
  position: relative;
  z-index: 10;
}

.wm-news-encryptfile .wm-news-encryptfile-progressbar span {
  position: absolute;
  width: 99.5%;
  height: 20px;
  left: 0;
  top: 0;
  border-radius: 10px;
  margin: 1px;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background-size: 3em 3em;
  background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, rgba(250, 184, 46, 0.7) 0.9em, rgba(250, 184, 46, 0.7) 2.1em, transparent 2.1em, transparent 2.9em, rgba(250, 184, 46, 0.7) 3.1em);
  -webkit-animation: warning-animation 750ms infinite linear;
  -moz-animation: warning-animation 750ms infinite linear;
  animation: warning-animation 750ms infinite linear;
}

.wm-news-encryptfile .wm-news-encryptfile-progressbar span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(250, 184, 46, 0.7), rgba(250, 184, 46, 0.7) 15%, transparent 60%, rgba(250, 184, 46, 0.7));
}

.wm-close {
  border: 1px solid red;
  position: absolute;
  right: -20px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #be0000;
  cursor: pointer;
}

.wm-close:before, .wm-close:after {
  content: '';
  width: 2px;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wm-close:after {
  width: 10px;
  height: 2px;
}

.wm-news-download-wrap section {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-news-download-wrap .wm-news-download-list {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  text-align: center;
}

.wm-news-download-wrap .wm-news-download-list > div {
  position: relative;
  margin: 0 20px;
  width: 90px;
}

.wm-news-download-wrap .wm-news-download-list img {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.wm-news-download-wrap .wm-news-download-list .wm-news-download-progress {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #fff;
  top: 30%;
  margin-top: -10px;
  left: 0;
  position: absolute;
  background: #f90;
  background-size: 3em 3em;
  background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, rgba(250, 184, 46, 0.7) 0.9em, rgba(250, 184, 46, 0.7) 2.1em, transparent 2.1em, transparent 2.9em, rgba(250, 184, 46, 0.7) 3.1em);
  -webkit-animation: warning-animation 750ms infinite linear;
  -moz-animation: warning-animation 750ms infinite linear;
  animation: warning-animation 750ms infinite linear;
}

.wm-news-download-wrap .wm-news-download-list .wm-news-download-progress:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(250, 184, 46, 0.7), rgba(250, 184, 46, 0.7) 15%, transparent 60%, rgba(250, 184, 46, 0.7));
}

.quill-editor {
  min-height: 200px;
  height: 200px;
  margin-bottom: 40px;
}

@-webkit-keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}

@keyframes warning-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 0;
  }
}
