@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-student-main-ui {
    &>header {
        background: #fff;
        height: 50px;
        width: 100%;
        line-height: 50px;
        @include displayFlex(row);
        justify-content: space-between;
        -webkit-justify-content: space-between;
        &>section {
            margin-right: 30px;
            ;
        }
        &>div {
            font-size: 20px;
            margin-left: 40px;
            @include pos(r);
            &:before {
                content: "";
                @include pos(a);
                width: 2px;
                height: 20px;
                background: #cc0000;
                top: 15px;
                left: -10px;
            }
        }
    }

   
    .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
        left: 30px;
    }

}

    .wm-news-form-item{
        width: 100%;
        .ivu-form-item-content{
            @include displayFlex(row);
            .wm-news-encryptfile-name{
                @include pos(r);
                .wm-news-remove-encryptfile{
                                   }
            }
        }

    }

    .wm-news-encryptfile{
        width: 300px;
        @include pos(r);
        .news-encryptfile{
            @include pos(a);
            width: 100% !important;
            height: 100% !important;
            &>div{
                @include pos(a);
                width: 100% !important;
                height: 100% !important;
                z-index: 100;
                opacity:0;
                cursor: pointer;
            }
        }

    }

    .wm-close{
         border:1px solid red;
         @include pos(a);
         right: -20px;
         top: -10px;
         width: 20px;
         height: 20px;
         @include br();
         @include transform(rotate(-45deg));
         background:#be0000;
         cursor: pointer;

         &:before,
         &:after {
             content: '';
             width: 2px;
             height: 10px;
             background: #fff;
             @include pos(a);
             left: 50%;
             top: 50%;
             @include transform(translate(-50%, -50%));
             ;
             //
         }

         &:after {
             width: 10px;
             height: 2px;
         }
    }

    .wm-news-download-wrap {
        section{
            @include displayFlex(row);
        }
        .wm-news-download-list{
            @include displayFlex(row);
            text-align: center;
            &>div{
                @include pos(r);
                margin: 0 20px;
            }
            img{
                width: 70px;
                display: block;
                margin: 0 auto;
            }

            span{
                

            }
        }
    }

 .quill-editor {
    min-height: 200px;
    height: 200px;
    margin-bottom: 40px;
 }
