/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-student-main-ui > header {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-student-main-ui > header > section {
  margin-right: 30px;
}

.wm-student-main-ui > header > div {
  font-size: 20px;
  margin-left: 40px;
  position: relative;
}

.wm-student-main-ui > header > div:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #cc0000;
  top: 15px;
  left: -10px;
}

.wm-student-main-ui .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
  left: 30px;
}

.wm-news-encryptfile {
  width: 300px;
  position: relative;
}

.wm-news-encryptfile .news-encryptfile {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.wm-news-encryptfile .news-encryptfile > div {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.quill-editor {
  min-height: 200px;
  height: 200px;
  margin-bottom: 40px;
}
