@import "../css/base.scss";

.wm-scoredetail-main-ui{
    width:100%;
    &>div{
        width: 600px;
        margin: 30px auto;
        min-height: 400px;
        background: #fff;
        @include pos(r);
    }
    @include br(4px);
    $color:#cc0000;
    overflow: auto;
    .wm-scoredetail-scorebg{
        @include pos(a);
        width: 100px;
        right: 20px;
        top: -5px;
        span{
            @include pos(a);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 44px;
            color:#fff;
        }
    }

    .wm-score-download{
        @include pos(f);
        z-index: -1;
        opacity:0;
        
    }

    .wm-course-title{
        max-width: 90%;
        margin:0 auto;
        text-align: center;
        color:$color;
        padding-top: 40px;
        font-size:30px;
        line-height: 40px;
        font-weight: normal;
    }
    .wm-teachername {
        color:#000;
        font-size:14px;
        text-align: center;
        height: 40px;
        width: 96%;
        margin: 20px auto 0;
    }
    .wm-statisitcs{
        width: 96%;
        margin: 0 auto;
        line-height: 24px;
        border-bottom: 2px solid $color;
        @include displayFlex(row);
        -webkit-justify-content: space-between;
        justify-content: space-between;

    }

    .wm-score-table{
        width: 94%;
        margin: 20px auto;
        min-height: 100px;
        $cellH:40px;
        ul{
            border-left:1px solid #ccc;
            border-top:1px solid #ccc;
        }
        li{
            border-right:1px solid #ccc;
            border-bottom:1px solid #ccc;
            @include  displayFlex(row);
            div{
            }
            -webkit-justify-content: space-between;
            justify-content: space-between;

            &:nth-of-type(1){
                background:#eee;
                font-weight: bold;
            }

            .wm-scoreitem-groupname{
                width: 150px;
                @include displayFlex(row);
                justify-content: center;
                align-items: center;
                -webkit-justify-content: center;
                -webkit-align-items: center;



            }
            .wm-scoreitem-list{
                flex:1;
                -webkit-flex:1;

            }
            .wm-scoreitem{
                flex:1;
                -webkit-flex:1;

                @include displayFlex(row);
                -webkit-justify-content: space-between;
                justify-content: space-between; 

                div{
                    height: $cellH;
                    line-height: $cellH;
                    &:last-of-type{
                        color:$color;
                    }
                }
                .wm-scoreitem-avgscore{
                    width: 50px;
                    text-align: center;
                    font-weight: bold;

                }
                &:nth-of-type(2n){
                    .wm-scoreitem-name,.wm-scoreitem-avgscore{
                        border-top:1px solid #ccc;
                        border-bottom:1px solid #ccc;
                        &.noborder{
                            border-bottom:none;
                        }
                    }
                }
                .wm-scoreitem-score{
                    border-right:1px solid #ccc;
                    border-left:1px solid #ccc;
                }
                .wm-scoreitem-name{
                    flex:1;
                    -webkit-flex:1;
                    text-align: center;
                    border-right:1px solid #ccc;
                    border-left:1px solid #ccc;
                    text-indent: 2em;

                    text-align: left;

                }
            }
        }
    }

    .wm-score-table-action{
        border-top:2px solid $color;
        @include pos(r);
        height: 50px;
        width: 96%;
        margin: 20px auto;
        &>div{
            @include pos(a);
            right: 30px;
            top: 20px;
            button{
                margin: 0 10px;
            }
        }
    }
}