/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

.symbin-left {
  float: left !important; }

.symbin-right {
  float: right !important; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.wm-scoredetail-main-ui {
  width: 600px;
  min-height: 400px;
  margin: 30px auto;
  background: #fff;
  border-radius: 4px;
  position: relative; }
  .wm-scoredetail-main-ui .wm-scoredetail-scorebg {
    position: absolute;
    width: 100px;
    right: 20px;
    top: -5px; }
    .wm-scoredetail-main-ui .wm-scoredetail-scorebg span {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 44px;
      color: #fff; }
  .wm-scoredetail-main-ui .wm-course-title {
    width: 100%;
    text-align: center;
    line-height: 150px;
    height: 100px;
    color: #cc0000;
    font-size: 30px;
    font-weight: normal; }
  .wm-scoredetail-main-ui .wm-teachername {
    color: #000;
    font-size: 14px;
    text-align: center;
    height: 40px;
    width: 96%;
    margin: 0 auto; }
  .wm-scoredetail-main-ui .wm-statisitcs {
    width: 96%;
    margin: 0 auto;
    line-height: 24px;
    border-bottom: 2px solid #cc0000;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .wm-scoredetail-main-ui .wm-score-table {
    width: 94%;
    margin: 20px auto;
    min-height: 100px; }
    .wm-scoredetail-main-ui .wm-score-table ul {
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc; }
    .wm-scoredetail-main-ui .wm-score-table li {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      display: flex;
      display: -webkit-flex;
      flex-flow: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      .wm-scoredetail-main-ui .wm-score-table li:nth-of-type(1) {
        background: #eee;
        font-weight: bold; }
      .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem-groupname {
        width: 150px;
        display: flex;
        display: -webkit-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-align-items: center; }
      .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem-list {
        flex: 1;
        -webkit-flex: 1; }
      .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem {
        flex: 1;
        -webkit-flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-flow: row;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem div {
          height: 40px;
          line-height: 40px; }
          .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem div:last-of-type {
            color: #cc0000; }
        .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem .wm-scoreitem-avgscore {
          width: 50px;
          text-align: center;
          font-weight: bold; }
        .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem:nth-of-type(2n) .wm-scoreitem-name, .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem:nth-of-type(2n) .wm-scoreitem-avgscore {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc; }
          .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem:nth-of-type(2n) .wm-scoreitem-name.noborder, .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem:nth-of-type(2n) .wm-scoreitem-avgscore.noborder {
            border-bottom: none; }
        .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem .wm-scoreitem-score {
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc; }
        .wm-scoredetail-main-ui .wm-score-table li .wm-scoreitem .wm-scoreitem-name {
          flex: 1;
          -webkit-flex: 1;
          text-align: center;
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
          text-indent: 2em;
          text-align: left; }
  .wm-scoredetail-main-ui .wm-score-table-action {
    border-top: 2px solid #cc0000;
    position: relative;
    height: 50px;
    width: 96%;
    margin: 20px auto; }
    .wm-scoredetail-main-ui .wm-score-table-action > div {
      position: absolute;
      right: 30px;
      top: 20px; }
      .wm-scoredetail-main-ui .wm-score-table-action > div button {
        margin: 0 10px; }

/*# sourceMappingURL=scoredetail.css.map */
