/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ivu-message {
  z-index: 100001 !important;
}

.wm-outattendance-main-ui .wm-outattendance-main {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-outattendance-main-ui .wm-outattendance-main .ivu-table-wrapper {
  border-top: 1px solid #e8eaec;
}

.wm-outattendance-main-ui .wm-outattendance-main > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-table {
  width: 100%;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-table .ivu-table-wrapper {
  margin-top: 10px;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-table.active {
  width: 70%;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form {
  margin-top: 10px;
  margin-left: 2%;
  width: 28%;
  position: absolute;
  right: 0;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form.detail-enter-active, .wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form.detail-leave-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form.detail-enter, .wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form.detail-leave-to {
  width: 0;
  overflow: hidden;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form > header {
  line-height: 40px;
  height: 40px;
  font-weight: bold;
  color: #515a6e;
  text-indent: 2em;
  background: #f8f8f9;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form .wm-outattendance-form-item {
  line-height: 50px;
  height: 50px;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form .wm-outattendance-form-item.wm-outattendance-btns {
  text-align: center;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form .wm-outattendance-form-item.wm-outattendance-btns button {
  margin: 0 20px;
  padding: 2px 20px;
}

.wm-outattendance-main-ui .wm-outattendance-main .wm-outattendance-form .wm-outattendance-form-item input.wm-outattendance-input {
  padding-left: 6px;
  height: 30px;
  width: 70%;
  border: 1px solid #d8d8d8;
  outline: none;
  border-radius: 6px;
}
