@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-signup-ui,
.wm-news-main-ui,
.wm-course-main-ui,
.wm-attendance-ui {

    @include displayFlex(row);
    &>div{
        &:nth-of-type(1){
            width: 200px;
        }
    }
    .wm-tab-content{
        box-sizing: border-box;
        flex:1;
        -webkit-flex:1;

        &>div{
            width: 98%;
            margin: 10px auto 10px;
            border-top:1px solid #ddd;
            @include pos(r);
            flex:1;
            -webkit-flex:1;

            overflow: auto;

 
            .wm-meet-form{
                width: 100%;
                margin: 0px auto;
                padding:20px 40px;;
                height: 600px;
                overflow: auto;
            }
            
        }

        @include displayFlex(column);

        


        .wm-tab-header{
            width: 50px;
            @include displayFlex(row);
            width: 100%;
            padding: 0 20px;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            line-height: 50px;
            font-size: 20px;
            &>div{
                &:nth-of-type(1){
                    @include pos(r);
                    text-indent: .5em;
                    &:before{
                        content:'';
                        width: 4px;
                        height: 24px;
                        background:#be0000;
                        left: -4px;
                        @include pos(a);
                        top: 12px;

                    }
                }
            }
            
            
        }

        .wm-signup-wrap{
            margin: 50px auto;
            width: 500px;
        }

        .wm-signup-item{
            line-height: 40px;
            @include displayFlex(row);
            margin: 10px 0;
            &>div{
                margin-right: 10px;
                &:nth-of-type(1){
                    width: 80px;
                    text-align: right;
                }
            }
        }
    }

   
}
