/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-signup-ui,
.wm-news-main-ui,
.wm-course-main-ui,
.wm-attendance-ui,
.wm-scoreitem-main-ui,
.wm-feedback-main-ui,
.wm-score-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-signup-ui .ivu-table-wrapper,
.wm-news-main-ui .ivu-table-wrapper,
.wm-course-main-ui .ivu-table-wrapper,
.wm-attendance-ui .ivu-table-wrapper,
.wm-scoreitem-main-ui .ivu-table-wrapper,
.wm-feedback-main-ui .ivu-table-wrapper,
.wm-score-main-ui .ivu-table-wrapper {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.wm-signup-ui > div:nth-of-type(1),
.wm-news-main-ui > div:nth-of-type(1),
.wm-course-main-ui > div:nth-of-type(1),
.wm-attendance-ui > div:nth-of-type(1),
.wm-scoreitem-main-ui > div:nth-of-type(1),
.wm-feedback-main-ui > div:nth-of-type(1),
.wm-score-main-ui > div:nth-of-type(1) {
  width: 200px;
}

.wm-signup-search {
  width: 300px;
}

.wm-signup-ui .wm-header-right-action,
.wm-news-main-ui .wm-header-right-action,
.wm-course-main-ui .wm-header-right-action,
.wm-attendance-ui .wm-header-right-action,
.wm-scoreitem-main-ui .wm-header-right-action,
.wm-feedback-main-ui .wm-header-right-action,
.wm-score-main-ui .wm-header-right-action {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-signup-ui .wm-header-right-action > div,
.wm-news-main-ui .wm-header-right-action > div,
.wm-course-main-ui .wm-header-right-action > div,
.wm-attendance-ui .wm-header-right-action > div,
.wm-scoreitem-main-ui .wm-header-right-action > div,
.wm-feedback-main-ui .wm-header-right-action > div,
.wm-score-main-ui .wm-header-right-action > div {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin-right: 20px;
}

.wm-signup-ui .wm-header-right-action > div:nth-of-type(2),
.wm-news-main-ui .wm-header-right-action > div:nth-of-type(2),
.wm-course-main-ui .wm-header-right-action > div:nth-of-type(2),
.wm-attendance-ui .wm-header-right-action > div:nth-of-type(2),
.wm-scoreitem-main-ui .wm-header-right-action > div:nth-of-type(2),
.wm-feedback-main-ui .wm-header-right-action > div:nth-of-type(2),
.wm-score-main-ui .wm-header-right-action > div:nth-of-type(2) {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  align-items: flex-end;
  font-size: 12px;
}

.wm-signup-ui .wm-header-right-action > div .wm-header-temp,
.wm-news-main-ui .wm-header-right-action > div .wm-header-temp,
.wm-course-main-ui .wm-header-right-action > div .wm-header-temp,
.wm-attendance-ui .wm-header-right-action > div .wm-header-temp,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-header-temp,
.wm-feedback-main-ui .wm-header-right-action > div .wm-header-temp,
.wm-score-main-ui .wm-header-right-action > div .wm-header-temp {
  margin-right: 10px;
  font-size: 14px;
}

.wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn {
  margin-right: 5px;
  position: relative;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #dcdee2;
  top: 10px;
}

.wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before, .wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after, .wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn div:before, .wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:after,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:before,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn .webuploader-pick:after,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:before,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn div:after {
  display: none;
}

.wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn .wm-upload {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wm-signup-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-news-main-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-course-main-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-attendance-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-scoreitem-main-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-feedback-main-ui .wm-header-right-action > div .wm-exportexcel-btn input,
.wm-score-main-ui .wm-header-right-action > div .wm-exportexcel-btn input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.wm-signup-ui .wm-header-right-action > div > div,
.wm-news-main-ui .wm-header-right-action > div > div,
.wm-course-main-ui .wm-header-right-action > div > div,
.wm-attendance-ui .wm-header-right-action > div > div,
.wm-scoreitem-main-ui .wm-header-right-action > div > div,
.wm-feedback-main-ui .wm-header-right-action > div > div,
.wm-score-main-ui .wm-header-right-action > div > div {
  height: 40px;
  position: relative;
}

.wm-signup-ui .wm-header-right-action > div > div .wm-upload,
.wm-news-main-ui .wm-header-right-action > div > div .wm-upload,
.wm-course-main-ui .wm-header-right-action > div > div .wm-upload,
.wm-attendance-ui .wm-header-right-action > div > div .wm-upload,
.wm-scoreitem-main-ui .wm-header-right-action > div > div .wm-upload,
.wm-feedback-main-ui .wm-header-right-action > div > div .wm-upload,
.wm-score-main-ui .wm-header-right-action > div > div .wm-upload {
  position: absolute;
}

.wm-signup-ui .wm-tab-content,
.wm-news-main-ui .wm-tab-content,
.wm-course-main-ui .wm-tab-content,
.wm-attendance-ui .wm-tab-content,
.wm-scoreitem-main-ui .wm-tab-content,
.wm-feedback-main-ui .wm-tab-content,
.wm-score-main-ui .wm-tab-content {
  box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}

.wm-signup-ui .wm-tab-content > div,
.wm-news-main-ui .wm-tab-content > div,
.wm-course-main-ui .wm-tab-content > div,
.wm-attendance-ui .wm-tab-content > div,
.wm-scoreitem-main-ui .wm-tab-content > div,
.wm-feedback-main-ui .wm-tab-content > div,
.wm-score-main-ui .wm-tab-content > div {
  width: 98%;
  margin: 10px auto 10px;
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  overflow: auto;
}

.wm-signup-ui .wm-tab-content > div .wm-meet-form,
.wm-news-main-ui .wm-tab-content > div .wm-meet-form,
.wm-course-main-ui .wm-tab-content > div .wm-meet-form,
.wm-attendance-ui .wm-tab-content > div .wm-meet-form,
.wm-scoreitem-main-ui .wm-tab-content > div .wm-meet-form,
.wm-feedback-main-ui .wm-tab-content > div .wm-meet-form,
.wm-score-main-ui .wm-tab-content > div .wm-meet-form {
  width: 100%;
  margin: 0px auto;
  padding: 20px 40px;
  height: 600px;
  overflow: auto;
}

.wm-signup-ui .wm-tab-content .wm-tab-header,
.wm-news-main-ui .wm-tab-content .wm-tab-header,
.wm-course-main-ui .wm-tab-content .wm-tab-header,
.wm-attendance-ui .wm-tab-content .wm-tab-header,
.wm-scoreitem-main-ui .wm-tab-content .wm-tab-header,
.wm-feedback-main-ui .wm-tab-content .wm-tab-header,
.wm-score-main-ui .wm-tab-content .wm-tab-header {
  width: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
}

.wm-signup-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-news-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-course-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-attendance-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-scoreitem-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-feedback-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1),
.wm-score-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1) {
  position: relative;
  text-indent: .5em;
}

.wm-signup-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-news-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-course-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-attendance-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-scoreitem-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-feedback-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before,
.wm-score-main-ui .wm-tab-content .wm-tab-header > div:nth-of-type(1):before {
  content: '';
  width: 4px;
  height: 24px;
  background: #be0000;
  left: -4px;
  position: absolute;
  top: 12px;
}

.wm-signup-ui .wm-tab-content .wm-signup-wrap,
.wm-news-main-ui .wm-tab-content .wm-signup-wrap,
.wm-course-main-ui .wm-tab-content .wm-signup-wrap,
.wm-attendance-ui .wm-tab-content .wm-signup-wrap,
.wm-scoreitem-main-ui .wm-tab-content .wm-signup-wrap,
.wm-feedback-main-ui .wm-tab-content .wm-signup-wrap,
.wm-score-main-ui .wm-tab-content .wm-signup-wrap {
  margin: 50px auto;
  width: 500px;
}

.wm-signup-ui .wm-tab-content .wm-signup-item,
.wm-news-main-ui .wm-tab-content .wm-signup-item,
.wm-course-main-ui .wm-tab-content .wm-signup-item,
.wm-attendance-ui .wm-tab-content .wm-signup-item,
.wm-scoreitem-main-ui .wm-tab-content .wm-signup-item,
.wm-feedback-main-ui .wm-tab-content .wm-signup-item,
.wm-score-main-ui .wm-tab-content .wm-signup-item {
  line-height: 40px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  margin: 10px 0;
}

.wm-signup-ui .wm-tab-content .wm-signup-item > div,
.wm-news-main-ui .wm-tab-content .wm-signup-item > div,
.wm-course-main-ui .wm-tab-content .wm-signup-item > div,
.wm-attendance-ui .wm-tab-content .wm-signup-item > div,
.wm-scoreitem-main-ui .wm-tab-content .wm-signup-item > div,
.wm-feedback-main-ui .wm-tab-content .wm-signup-item > div,
.wm-score-main-ui .wm-tab-content .wm-signup-item > div {
  margin-right: 10px;
}

.wm-signup-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-news-main-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-course-main-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-attendance-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-scoreitem-main-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-feedback-main-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1),
.wm-score-main-ui .wm-tab-content .wm-signup-item > div:nth-of-type(1) {
  width: 80px;
  text-align: right;
}

.ivu-poptip-body {
  max-height: 500px;
  overflow: auto;
}
