@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-signup-ui,
.wm-news-main-ui,
.wm-course-main-ui,
.wm-attendance-ui {

    @include displayFlex(row);
    &>div{
        &:nth-of-type(1){
            width: 200px;
        }
    }

    @at-root.wm-signup-search{
        width: 300px;
        ;
    }
    .wm-header-right-action{
        @include displayFlex(row);
        &>div{
            @include displayFlex(row);
            &:nth-of-type(2){
                @include displayFlex(row);
                align-items: flex-end;
                font-size:12px;
                
            }
            .wm-header-temp{
                margin-right: 10px;
                font-size:14px;
            }
            margin-right: 20px;
            .wm-exportexcel-btn{
                margin-right: 5px;
                @include pos(r);
                height: 32px;
                @include br(4px);
                border:1px solid #dcdee2;
                top: 10px;
                
                .webuploader-pick,div{
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                .wm-upload{
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                input{
                    
                    @include pos(a);
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    opacity:0;
                    cursor: pointer;
                }
            }
            &>div{
                height: 40px;
                @include pos(r);
                .wm-upload{
                    @include pos(a);
                }
            }

            i{
                
            }
        }
    }
    .wm-tab-content{
        box-sizing: border-box;
        flex:1;
        -webkit-flex:1;

        &>div{
            width: 98%;
            margin: 10px auto 10px;
            border-top:1px solid #ddd;
            @include pos(r);
            flex:1;
            -webkit-flex:1;

            overflow: auto;

 
            .wm-meet-form{
                width: 100%;
                margin: 0px auto;
                padding:20px 40px;;
                height: 600px;
                overflow: auto;
            }
            
        }

        @include displayFlex(column);

        


        .wm-tab-header{
            width: 50px;
            @include displayFlex(row);
            width: 100%;
            padding: 0 20px;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            line-height: 50px;
            font-size: 20px;
            &>div{
                &:nth-of-type(1){
                    @include pos(r);
                    text-indent: .5em;
                    &:before{
                        content:'';
                        width: 4px;
                        height: 24px;
                        background:#be0000;
                        left: -4px;
                        @include pos(a);
                        top: 12px;

                    }
                }
            }
            
            
        }

        .wm-signup-wrap{
            margin: 50px auto;
            width: 500px;
        }

        .wm-signup-item{
            line-height: 40px;
            @include displayFlex(row);
            margin: 10px 0;
            &>div{
                margin-right: 10px;
                &:nth-of-type(1){
                    width: 80px;
                    text-align: right;
                }
            }
        }
    }

   
}
