@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-attendance-ui {
    
    overflow: hidden;
    .wm-header-tabs {
        ul{
            @include displayFlex(row);
            align-items: flex-end;
            @include pos(r);
            top: 20px;
            
            li{
                &.active{
                    border-bottom: 2px solid red;
                }
                flex:1;
                -webkit-flex:1;
                height: 30px;
                line-height: 30px;
                margin: 0 10px;
                min-width: 60px;
                text-align: center;
                font-size:14px;
                
            }
        }
    }
    .wm-attendance-wrap{
        box-sizing: border-box;
        padding-top: 20px;
        overflow: hidden;
        
        .wm-attendance-statistics-C{
            .ivu-col{
                min-height: 100px;
            }
            .wm-attendance-statistics-title {
                font-size:16px;
                font-weight: bold;
                min-height: 100px;
            }
            .wm-attendance-statistics-detail{
                text-align: right;
                min-height: 20px;
                line-height: 50px;
                color:#f90;
                cursor: pointer;

            }
            .wm-attendance-statistics-count{
                font-size:34px;
                min-height: 30px;
            }
        }
    }

    .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
        left: 30px;
    }
}

