@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-place-main-ui {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;

  .wm-tab-leftpane{
    width:200px;
  }
  .wm-tab-header {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    line-height: 50px;
    font-size: 20px;
}
  .wm-tab-header > div:nth-of-type(1) {
    position: relative;
    text-indent: .5em;
    &:before {
      content: '';
      width: 4px;
      height: 24px;
      background: #be0000;
      left: -4px;
      position: absolute;
      top: 12px;
    }
  }
  .wm-tab-content {
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
  }
  .wm-place-wrap{
    width: 98%;
    margin: 10px auto 10px;    
    position: relative;
    flex: 1;
    -webkit-flex: 1;
    overflow: auto;
  }
  .wm-meet-form{
    border-top: 1px solid #ddd;
    width: 100%;
    margin: 0px auto;
    padding: 20px 40px;
    height: 600px;
    overflow: auto;
  }
   @at-root.wm-classroom-pos{
       border:1px solid #ddd;
       height:500px;
   }

   .wm-place-list-action{
       margin-top: 10px;
       @include displayFlex(row);
       &>div,&>ul{
           flex:1;
           -webkit-flex:1;
       }
       &>div{
           span{
               cursor: pointer;
               margin-right: 10px;

               &.wm-go-top1,&.wm-go-down{
                   @include pos(r);
                   &:before{
                       content:'';
                       width: 90%;
                       left: 5%;
                       height: 2px;
                       background: #515a6e;
                       top: 0;
                       @include pos(a);
                       @include br(2px);
                   }
               }
               &.wm-go-down{
                   &:before{
                       bottom: -1px;
                       top: auto;
                   }
               }
           }
           i{
               font-size:20px;
           }
       }
   }


   .wm-place-pos{
       @include pos(a);
       z-index: 10;
       text-indent: 2em;
       width: 100%;
       .wm-place-pos-close{
           @include pos(a);
           right: 0;
           i{
               font-size:20px;
               color:#be0000;
               cursor: pointer;
           }
       }
   }
}
