@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
 .wm-feedback-main-ui {
     box-sizing: border-box;
     .wm-tab-content>div{
         width: 100%;
     }

     .wm-feedback-table{
         width: 98% !important;
         margin: 0 auto;

         

         background:#fff;
         overflow: visible;


         .wm-feedback-item{
             width: 96%;
             margin: 10px auto;
             border:1px solid #e1e6eb;
             text-indent: 2em;

             &.fixed{
                 @include pos(a);
                 z-index: 100;
                 left: 1%;
                 bottom: 0;
             }
             
             &>header{
                border-bottom:1px solid #e1e6eb;
                 width: 100%;
                 height: 38px;
                 line-height: 38px;
                 background:#f5f6fa;
                 border-left:4px solid #be0000;
             }

             .wm-feedback-reply{
                @include pos(a);
                left: 88%;
                color: #000000;
                cursor: pointer;

             }

             div{
                 margin: 10px 0;
                 textarea{
                    margin-left:-2em;
                    width: 97%;
                    height: 70px;
                 }
             }

             .wm-feedback-item{
                 width: 94%;
                 margin: 0 auto 20px;
             }
         }
     }
 }