/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-feedback-main-ui {
  box-sizing: border-box;
}

.wm-feedback-main-ui .wm-tab-content > div {
  width: 100%;
}

.wm-feedback-main-ui .wm-feedback-table {
  width: 98% !important;
  margin: 0 auto;
  background: #fff;
  overflow: visible;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item {
  width: 96%;
  margin: 10px auto;
  border: 1px solid #e1e6eb;
  text-indent: 2em;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item.fixed {
  position: absolute;
  z-index: 100;
  left: 1%;
  bottom: 0;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item > header {
  border-bottom: 1px solid #e1e6eb;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: #f5f6fa;
  border-left: 4px solid #be0000;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item .wm-feedback-reply {
  position: absolute;
  left: 88%;
  color: #000000;
  cursor: pointer;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item div {
  margin: 10px 0;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item div textarea {
  margin-left: -2em;
  width: 97%;
  height: 70px;
}

.wm-feedback-main-ui .wm-feedback-table .wm-feedback-item .wm-feedback-item {
  width: 94%;
  margin: 0 auto 20px;
}
