@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #be0000;

.wm-meeting-main-ui {
    &>header {
        background: #fff;
        height: 50px;
        width: 100%;
        line-height: 50px;
        @include displayFlex(row);
        justify-content: space-between;
        -webkit-justify-content: space-between;
        &>section {
            margin-right: 30px;
            ;
        }
        &>div {
            font-size: 20px;
            margin-left: 40px;
            @include pos(r);
            &:before {
                content: "";
                @include pos(a);
                width: 2px;
                height: 20px;
                background: #cc0000;
                top: 15px;
                left: -10px;
            }
        }
    }

    .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
        left: 30px;
    }

}
.wm-upload{
    height: 100px;
    width: 100px;
    @include pos(r);
    div{
        width: 100% !important;
        height: 100% !important;
        left: 0;
        top: 0;
        border:1px solid #eee;
        @include pos(a);
        &:before,&:after{
            content:'';
            @include pos(a);
            width: 4px;
            height: 50px;
            background: #ddd;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            @include br(2px);
        }
        &:after{
            width: 50px;
            height: 4px;
        }

    }
    input{
        opacity: 0;;
    }
}
