/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-meeting-main-ui > header {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  position: relative;
}

.wm-meeting-main-ui > header i {
  font-size: 16px;
}

.wm-meeting-main-ui > header > section {
  margin-right: 30px;
}

.wm-meeting-main-ui > header:before {
  content: "";
  position: absolute;
  width: 96%;
  left: 2%;
  height: 1px;
  background: #eee;
  bottom: 0;
}

.wm-meeting-main-ui > header > div {
  font-size: 20px;
  margin-left: 40px;
  position: relative;
}

.wm-meeting-main-ui > header > div:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #cc0000;
  top: 15px;
  left: -10px;
}

.wm-meeting-main-ui .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
  left: 20px;
}

.wm-meeting-main-ui .wm-meet-form {
  background: #fff;
  position: relative;
}

.wm-meeting-main-ui .wm-meet-form:before {
  content: "";
  position: absolute;
  width: 96%;
  left: 2%;
  height: 1px;
  background: #eee;
  top: 0;
}

.wm-meeting-main-ui .wm-meet-form section {
  width: 500px;
  padding-top: 50px;
  margin: 0 auto;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item {
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item.wm-require:before {
  content: '*';
  color: #f00;
  position: absolute;
  font-size: 16px;
  left: 10px;
  top: 3px;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item.wm-meet-form-muli {
  height: 150px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  padding-bottom: 20px;
  vertical-align: top;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item.wm-meet-form-muli textarea {
  display: block;
  margin-left: 20px;
  width: 460px;
  height: 80px;
  resize: none;
  line-height: 20px;
  border: none;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  margin-top: -10px;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item label {
  margin-left: 20px;
  display: inline-block;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item input {
  height: 30px;
  background: transparent;
  border: none;
  width: 350px;
  outline: none;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item > div:nth-of-type(1) {
  background: #eee;
  flex: 1;
  -webkit-flex: 1;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-item > div:nth-of-type(2) {
  width: 100px;
  color: #f00;
  font-weight: bold;
  position: absolute;
  left: 101%;
}

.wm-meeting-main-ui .wm-meet-form section .wm-meet-form-radio {
  clear: left;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}

.wm-meeting-main-ui .wm-meet-list {
  background: #fff;
  width: 100%;
  position: relative;
  padding: 30px 30px 0;
  overflow: auto;
}

.wm-meeting-main-ui .wm-meet-list > ul {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-meeting-main-ui .wm-meet-list > ul li {
  width: 48%;
  margin: 20px 0 0;
  border: 1px solid #eeeeee;
  padding: 0 10px;
  position: relative;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-status {
  position: absolute;
  width: 70px;
  top: -10px;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 16px auto 20px;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-name {
  font-size: 16px;
  font-weight: bold;
  max-width: 80%;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-info,
.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-left .wm-meet-item-info {
  line-height: 40px;
  color: #999999;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-left {
  flex: 2;
  -webkit-flex: 2;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right {
  text-align: right;
  flex: 1;
  -webkit-flex: 1;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-actions {
  text-align: left;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-actions > div {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 12px;
  background: #ededed;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-actions > div:nth-of-type(1) {
  background: #f90;
  color: #fff;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-remark {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  color: #000;
  height: 30px;
  min-height: 70px;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-remark > div:nth-of-type(1) {
  width: 80px;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-remark > div:nth-of-type(2) {
  flex: 1;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-remark > div:nth-of-type(3) {
  width: 70px;
  position: relative;
  top: -10px;
  cursor: pointer;
}

.wm-meeting-banner {
  width: 280px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.wm-meet-banner-C {
  width: 100%;
  float: left;
}

.wm-meet-banner-C i {
  display: none;
  opacity: 0;
}

.wm-meet-banner-C .wm-meet-banner-upload,
.wm-meet-banner-C .wm-meet-banner-img {
  display: inline-block;
  width: 100px;
  float: left;
}

.wm-meet-banner-C .wm-meet-banner-img {
  margin-top: 10px;
  margin-left: 40px;
  width: 150px;
  height: 76px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.wm-meet-banner-C .wm-meet-banner-img .wm-close {
  margin-left: 70px;
  margin-top: -50px;
  left: auto;
  top: auto;
  right: auto;
}

.wm-meet-banner-C .wm-meet-banner-img img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.wm-meet-banner-C .wm-meet-banner-upload {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.wm-meet-banner-C .wm-meet-banner-upload i.ivu-icon {
  position: absolute;
  font-size: 30px;
  left: 50%;
  top: 50%;
  color: #f90;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.wm-meet-banner-C .wm-meet-banner-upload .wm-upload {
  height: 100px;
  width: 100px;
  z-index: 100;
  position: relative;
}

.wm-meet-banner-C .wm-meet-banner-upload .wm-upload div {
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  border: 1px solid #eee;
  position: absolute;
}

.wm-meet-banner-C .wm-meet-banner-upload .wm-upload input {
  opacity: 0;
}

.wm-upload {
  height: 100px;
  width: 100px;
  position: relative;
}

.wm-upload div {
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  border: 1px solid #eee;
  position: absolute;
}

.wm-upload div:before, .wm-upload div:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 50px;
  background: #ddd;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.wm-upload div:after {
  width: 50px;
  height: 4px;
}

.wm-upload input {
  opacity: 0;
}
