/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-meeting-main-ui > header {
  background: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-meeting-main-ui > header > section {
  margin-right: 30px;
}

.wm-meeting-main-ui > header > div {
  font-size: 20px;
  margin-left: 40px;
  position: relative;
}

.wm-meeting-main-ui > header > div:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #cc0000;
  top: 15px;
  left: -10px;
}

.wm-meeting-main-ui .ivu-poptip-confirm .ivu-poptip-body .ivu-icon {
  left: 30px;
}

.wm-meeting-main-ui .wm-meet-list {
  width: 100%;
  position: relative;
  border: 1px solid red;
  padding: 0 30px;
}

.wm-meeting-main-ui .wm-meet-list > ul {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wm-meeting-main-ui .wm-meet-list > ul li {
  width: 45%;
  margin-right: 5%;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-name {
  font-size: 16px;
  font-weight: bold;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-actions {
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
}

.wm-meeting-main-ui .wm-meet-list > ul li .wm-meet-item-header .wm-meet-item-header-right .wm-meet-item-actions > div {
  margin: 0 10px;
  border: 1px solid #be0000;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 12px;
}

.wm-meeting-banner {
  width: 280px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.wm-upload {
  height: 100px;
  width: 100px;
  position: relative;
}

.wm-upload div {
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  border: 1px solid #eee;
  position: absolute;
}

.wm-upload div:before, .wm-upload div:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 50px;
  background: #ddd;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.wm-upload div:after {
  width: 50px;
  height: 4px;
}

.wm-upload input {
  opacity: 0;
}
